<div class="text-center">
  <button type="button" class="btn btn-default"><%= link_to "Crear Noticia", new_news_path %></button>
  <div>
    <% index = 0 %>
    <% @news.each do |aux| %>
      <div class="new-container">
        <div class="new-date">
          <%= aux.created_at %>
        </div>
        <h3><%= link_to aux.title,news_path(aux) %></h3>
        <h6><%= aux.descent %></h6>
        <p style="word-wrap: break-word;">
          <%= aux.body %>
        </p>
        <div class="comment-number-container">
          <i class="fa fa-comments-o"></i>
          <%= @comments_n[index] %>
        </div>
        <button class="btn btn-default">
          <%= link_to 'Eliminar', news_path(id: aux.id), {method: :delete, data: {confirm: "Seguro que desea eliminar?"}} %>
          <i class="fa fa-trash-o"></i>
        </button>
        <button class="btn btn-default">
          <%= link_to 'Editar', edit_news_path(aux.id) %>
          <i class="fa fa-pencil"></i>
        </button>
      </div>
      <% index = index+1 %>
    <% end %>
  </div>
</div>
