<div class="text-center">
  <div>
    <% index = 0 %>
    <% @news.each do |aux| %>
      <div class="new-container">
        <div class="new-date">
          <%= aux.created_at %>
        </div>
        <h3><%= link_to aux.title,news_path(aux) %></h3>
        <h6><%= aux.descent %></h6>
        <p style="word-wrap: break-word;">
          <%= aux.body %>
        </p>
        <div class="comment-number-container">
          <i class="fa fa-comments-o"></i>
          <%= @comments_n[index] %>
        </div>
      </div>
      <% index = index + 1 %>
    <% end %>
  </div>
</div>
